*{
    margin: 0;
    padding: 0;
}
.header{
    
    height: 800px;
    width: 100%;
    background: black;
    overflow-y: hidden;
}
.logo{
    display: inline-block;
    width: 160px;
    transition-duration: 6s;
}
.logo:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    cursor: pointer;
    text-decoration-color: rgb(17, 17, 170);
}
.logo img{
    width: 90px;
    height: 80px;
    position: absolute;
    top: 20px;
    left: 33px;
    border-radius: 26px;
}
.logo #logo-cap{
    display: absolute;
    margin-top: 110px;
    margin-left: 12px;
    color: white;
}
.nav-bar{
    display: inline-flex;
    justify-content: space-around;
    gap: 350px;
}
.nav{
    display: absolute;
    margin-top: 30px;
}
.nav li{
    display: inline-flex;
    gap: 50px;
    
}
.nav li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 18px;
    padding: 16px;
    transition-duration: 1s;
}
.nav li #a1::after{
    content: "";
    height: 3px;
    position: absolute;
    top: 53px;
    width: 0;
    background: rgb(9, 151, 194);
    left: 526px;
    transition: 0.4s;
}
.nav li #a1:hover::after{
    width: 45px;
}
.nav li #a2::after{
    content: "";
    height: 3px;
    position: absolute;
    top: 53px;
    width: 0;
    background: rgb(194, 61, 9);
    left: 670px;
    transition: 0.4s;
}
.nav li #a2:hover::after{
    width: 50px;
}
.nav li #a3::after{
    content: "";
    height: 3px;
    position: absolute;
    top: 53px;
    width: 0;
    background: rgb(120, 9, 194);
    left: 829px;
    transition: 0.4s;
}
.nav li #a3:hover::after{
    width: 41px;
}

.hero{
    width: 100%;
    height: 100vh;
    background: black;
    overflow: hidden;
    display: block;
}
.hero .caroussel{
    width: 300px;
    margin: 100px auto 0;
    overflow: visible;
}
.hero .caroussel img{
    height: 400px;
    
}

.caption{
    color: white;
    position: absolute;
    left: 500px;
    top: 80px;
    font-size: 18px;
}
.caption::after{
    content: "";
    height: 3px;
    position: absolute;
    top: 25px;
    width: 180px;
    background: rgb(9, 151, 194);
    left: 70px;
}

.caroussel img{
    -webkit-box-reflect: below 15px linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.3));
}
@media screen and (min-width:310px){
    .logo #logo-cap{
        margin-left: 35px;
    }
    .header{
        height: 900px;
    }
    .nav{
        margin-left: -350px;
    }
    .nav li{
        gap: 10px;
    }
    .nav li #a1::after{
        margin-left: -350px;
    }
    .nav li #a2::after{
        margin-left: -390px;
    }
    .nav li #a3::after{
        margin-left: -435px;
    }
    .caption{
        margin-left: -330px;
        margin-top: 50px;
    }
    .caption::after{
        top: 45px;
        left: 40px;
    }
    .hero .caroussel img{
        height: 480px;
    }
}
@media screen and (min-width:350px){
    .header{
        height: 1500px;
    }
    .hero .caroussel{
        margin-top: 80px;
    }
    .hero .caroussel img{
        height: 400px;
        width: 300px;
    }
    .logo img{
        width: 60px;
        height: 60px;
        margin-left: -20px;
    }
    .logo #logo-cap{
        margin-top: 90px;
        margin-left: 18px;
    }
    .nav{
        margin-left: -390px;
    }
    .nav li{
        gap: 10px;
    }
    .nav li #a1::after{
        margin-left: -410px;
    }
    .nav li #a2::after{
        margin-left: -460px;
    }
    .nav li #a3::after{
        margin-left: -510px;
    }
    .caption{
        margin-left: -470px;
        margin-top: 70px;
    }
    .caption::after{
        top: 35px;
        left: 80px;
    }
}
@media screen and (min-width:740px){
    .logo #logo-cap{
        margin-left: 30px;
    }
    .logo img{
        margin-left: 0px;
    }
    .nav{
        margin-left: -250px;
    }
    .nav li{
        gap: 10px;
    }
    .nav li #a1::after{
        margin-left: -250px;
    }
    .nav li #a2::after{
        margin-left: -290px;
    }
    .nav li #a3::after{
        margin-left: -325px;
    }
    .caption{
        margin-left: -240px;
        margin-top: 50px;
    }
    .caption::after{
        top: 45px;
        left: 80px;
    }
    .header{
        height: 1200px;
    }
    .hero .caroussel img{
        height: 650px;
        width: 370px;
    }
}
@media screen and (min-width:1100px){
    .nav{
        margin-left: -120px;
    }
    .nav li{
        gap: 10px;
    }
    .nav li #a1::after{
        margin-left: -120px;
    }
    .nav li #a2::after{
        margin-left: -170px;
    }
    .nav li #a3::after{
        margin-left: -205px;
    }
    .caption{
        margin-left: -100px;
        margin-top: 50px;
    }
    .caption::after{
        top: 45px;
        left: 80px;
    }
    .hero .caroussel img{
        height: 450px;
        width: 320px;
    }
}
@media screen and (min-width:1200px){
    .nav{
        margin-left: -20px;
    }
    .nav li #a1::after{
        margin-left: -20px;
    }
    .nav li #a2::after{
        margin-left: -60px;
    }
    .nav li #a3::after{
        margin-left: -95px;
    }
    .caption{
        margin-left: -30px;
        margin-top: 50px;
    }
    .caption::after{
        top: 45px;
        left: 80px;
    }
}
@media screen and (width:428px){
    .header{
        height: 1500px;
    }
    .hero .caroussel{
        margin-top: 80px;
    }
    .hero .caroussel img{
        height: 400px;
        width: 300px;
    }
    .logo img{
        width: 60px;
        height: 60px;
        margin-left: -20px;
    }
    .logo #logo-cap{
        margin-top: 90px;
        margin-left: 18px;
    }
    .nav{
        margin-left: -410px;
    }
    .nav li{
        gap: 10px;
    }
    .nav li #a1::after{
        margin-left: -410px;
    }
    .nav li #a2::after{
        margin-left: -460px;
    }
    .nav li #a3::after{
        margin-left: -500px;
    }
    .caption{
        margin-left: -470px;
        margin-top: 40px;
    }
    .caption::after{
        top: 35px;
        left: 80px;
    }
}
}